<!DOCTYPE>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>You can talk to cow</h1>
		<p>what would you like to say?</p>
		<form method="GET" />
			<input type="text" name="text"/>
			<button type="submit">Talk</button>
		</form>
		<% if (result) { %>
			<h2>Result</h2>
			<code>
			<%- result %>
			<code>
		<% } %>
	</body>
</html>